{% extends 'base.html.twig' %}

{% block body %}
    <h1>Products list</h1>

    <div id="main" class="container">
        <table class="table" id="">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Category</th>
                <th>Manufacturer</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
                <tr is="viewlist" v-for="(product, key) in products"
                    :product="product"
                    :key="product.id"
                    {#@remove="todos.splice(key, 1)"#}
                    @remove="removeProduct(key, product)">

                    {#<modal-edit v-show="showEditModal" :product="product" @close="showEditModal = false">#}
                        {#{{ render(controller('AppBundle:Product:edit')) }}#}
                    {#</modal-edit>#}
                </tr>
                {#<tr v-if="product.editable" is="viewlist-edit" v-for="product in products" :product="product" :key="product.id"></tr>#}

            </tbody>
        </table>
        <button class="btn btn-default" @click="showCreateModal = true">Create a new product</button>

        {#<modal-edit v-show="showEditModal" @close="showEditModal = false">#}
            {#{{ render(controller('AppBundle:Product:edit')) }}#}
        {#</modal-edit>#}

        <modal v-show="showCreateModal" @close="showCreateModal = false">
            {{ render(controller('AppBundle:Product:new')) }}
        </modal>

    </div>
{% endblock %}

{% block javascripts %}
    {#<script type="x-template" id="view">#}
        {##}
    {#</script>#}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="{{ asset('includes/modal.js') }}"></script>
    <script src="{{ asset('includes/create.js') }}"></script>
{% endblock %}
